.todo-container {
  width: 500px;
  margin: 30px auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.todo-heading {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.task-list {
  margin-top: 20px;
}

.task-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 5px 10px;
  margin-bottom: 12px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.task-name {
  margin: 0;
  color: #222;
}

.priority {
  padding: 5px 10px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  text-transform: capitalize;
}

.high {
  background-color: #e53935;
}

.medium {
  background-color: #fb8c00;
}

.low {
  background-color: #43a047;
}